<!DOCTYPE html>
<html>
<head>
    <title>Mi Curriculum Vitae</title>
    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <!-- Contenido de la vista -->



    <div class="container text-center">

            <img src="~/Imagenes/foto.jpeg" alt="texto_alternativo" style="width: 300px; border-radius: 30% 0% 30% 0%;">

            <h1>Evelyn Marina Guzmán</h1>
            <h3>Partners Analyst</h3>

            <a href="~/Imagenes/CristianSguazzinCV.pdf" download>
                <button type="button" class="btn btn-primary">Descargar CV</button>
            </a>

   </div>





    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
