<!DOCTYPE html>
<html>
<head>
    <title>Mi Curriculum Vitae</title>
    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/style.css" />
</head>
<body>
  

    <div class="container text-center">

            <img id="avatar" src="~/Imagenes/Githubprofile1.jpg" alt="texto_alternativo">

            <h1 id="nombre">Evelyn Marina Guzmán</h1>
            <h2 id="cargo">Partners Analyst | Técnica en Publicidad</h2>
            <h5 id="desc">Estudiante de RPI | Software developer</h5>

            <a href="~/Imagenes/EGCV.pdf" download>
                <button id="btndescarga" type="button" class="btn" >Descargar CV</button>
            </a>











   </div>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
