<!DOCTYPE html>
<html>
<head>
    <title>Mi Curriculum Vitae</title>
    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <!-- Contenido de la vista -->



   <button type="button" class="btn btn-primary">Primary</button>






    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
